body {
  background-color: peru;
}

h1, h2, h3, h4 {
  color: brown;
}

p {
  text-align: center;
  font-size: 1cm;
  color: blue;
}

ol {
  list-style-type: upper-roman;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
